.ͼ1 .cm-lintRange-jinja {
    background-color: rgba(255, 255, 71, 0.18) !important;
}

.cm-lintRange-jinja > .ͼe {
    color: unset;
}

.ͼ1 .cm-lintRange-LOW {
    text-decoration: wavy underline !important;
}

.ͼ1 .cm-lintRange-HIGH {
    text-decoration: red wavy underline !important;
}